/*
@styleguide

@title Spacing

Paddings and Margins for all your elements and components.

Here are the sizes:

    3xs: 1px
    2xs: 2px
    xs: 4px
    s: 8px
    m: 12px
    l: 16px
    xl: 24px
    2xl: 32px
    3xl: 40px

Here is the structure for selector options

    1. .sp-padding-<size>-<location: optional>
       Values for Size: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl
       Values for location: <empty>, top, right, bottom, left, xaxis, yaxis
       Examples: .sp-padding-xs-top, .sp-padding-xs, .sp-padding-l-xaxis 
    
    2. .sp-margin-<size>-<location: optional>
       Values for Size: 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl
       Values for location: <empty>, top, right, bottom, left, xaxis, yaxis
       Examples: .sp-margin-xs-top, .sp-margin-xs, .sp-margin-l-xaxis 

In addition to regular paddings and margins, supporting spacing options for items within
a container. The spacing is applied to every immediate item inside the container except the last.

    .sp-group-margin-<size>-<location>

    Size can be 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl
    location can be yaxis or xaxis.
    Examples: .sp-group-margin-s-xaxis

*/

:root {
  --3xl-spacing: 40px;
  --2xl-spacing: 32px;
  --xl-spacing: 24px;
  --l-spacing: 16px;
  --m-spacing: 12px;
  --s-spacing: 8px;
  --xs-spacing: 4px;
  --2xs-spacing: 2px;
  --3xs-spacing: 1px;
}

.sp-padding-3xl {
  padding: var(--3xl-spacing);
}

.sp-padding-2xl {
  padding: var(--2xl-spacing);
}

.sp-padding-xl {
  padding: var(--xl-spacing);
}

.sp-padding-l {
  padding: var(--l-spacing);
}

.sp-padding-m {
  padding: var(--m-spacing);
}

.sp-padding-s {
  padding: var(--s-spacing);
}

.sp-padding-xs {
  padding: var(--xs-spacing);
}

.sp-padding-2xs {
  padding: var(--2xs-spacing);
}

.sp-padding-3xs {
  padding: var(--3xs-spacing);
}

.sp-padding-3xl-top {
  padding-top: var(--3xl-spacing);
}

.sp-padding-2xl-top {
  padding-top: var(--2xl-spacing);
}

.sp-padding-xl-top {
  padding-top: var(--xl-spacing);
}

.sp-padding-l-top {
  padding-top: var(--l-spacing);
}

.sp-padding-m-top {
  padding-top: var(--m-spacing);
}

.sp-padding-s-top {
  padding-top: var(--s-spacing);
}

.sp-padding-xs-top {
  padding-top: var(--xs-spacing);
}

.sp-padding-2xs-top {
  padding-top: var(--2xs-spacing);
}

.sp-padding-3xs-top {
  padding-top: var(--3xs-spacing);
}

.sp-padding-3xl-bottom {
  padding-bottom: var(--3xl-spacing);
}

.sp-padding-2xl-bottom {
  padding-bottom: var(--2xl-spacing);
}

.sp-padding-xl-bottom {
  padding-bottom: var(--xl-spacing);
}

.sp-padding-l-bottom {
  padding-bottom: var(--l-spacing);
}

.sp-padding-m-bottom {
  padding-bottom: var(--m-spacing);
}

.sp-padding-s-bottom {
  padding-bottom: var(--s-spacing);
}

.sp-padding-xs-bottom {
  padding-bottom: var(--xs-spacing);
}

.sp-padding-2xs-bottom {
  padding-bottom: var(--2xs-spacing);
}

.sp-padding-3xs-bottom {
  padding-bottom: var(--3xs-spacing);
}

.sp-padding-3xl-left {
  padding-left: var(--3xl-spacing);
}

.sp-padding-2xl-left {
  padding-left: var(--2xl-spacing);
}

.sp-padding-xl-left {
  padding-left: var(--xl-spacing);
}

.sp-padding-l-left {
  padding-left: var(--l-spacing);
}

.sp-padding-m-left {
  padding-left: var(--m-spacing);
}

.sp-padding-s-left {
  padding-left: var(--s-spacing);
}

.sp-padding-xs-left {
  padding-left: var(--xs-spacing);
}

.sp-padding-2xs-left {
  padding-left: var(--2xs-spacing);
}

.sp-padding-3xs-left {
  padding-left: var(--3xs-spacing);
}

.sp-padding-3xl-right {
  padding-right: var(--3xl-spacing);
}

.sp-padding-2xl-right {
  padding-right: var(--2xl-spacing);
}

.sp-padding-xl-right {
  padding-right: var(--xl-spacing);
}

.sp-padding-l-right {
  padding-right: var(--l-spacing);
}

.sp-padding-m-right {
  padding-right: var(--m-spacing);
}

.sp-padding-s-right {
  padding-right: var(--s-spacing);
}

.sp-padding-xs-right {
  padding-right: var(--xs-spacing);
}

.sp-padding-2xs-right {
  padding-right: var(--2xs-spacing);
}

.sp-padding-3xs-right {
  padding-right: var(--3xs-spacing);
}

.sp-padding-3xl-xaxis {
  padding-left: var(--3xl-spacing);
  padding-right: var(--3xl-spacing);
}

.sp-padding-2xl-xaxis {
  padding-left: var(--2xl-spacing);
  padding-right: var(--2xl-spacing);
}

.sp-padding-xl-xaxis {
  padding-left: var(--xl-spacing);
  padding-right: var(--xl-spacing);
}

.sp-padding-l-xaxis {
  padding-left: var(--l-spacing);
  padding-right: var(--l-spacing);
}

.sp-padding-m-xaxis {
  padding-left: var(--m-spacing);
  padding-right: var(--m-spacing);
}

.sp-padding-s-xaxis {
  padding-left: var(--s-spacing);
  padding-right: var(--s-spacing);
}

.sp-padding-xs-xaxis {
  padding-left: var(--xs-spacing);
  padding-right: var(--xs-spacing);
}

.sp-padding-2xs-xaxis {
  padding-left: var(--2xs-spacing);
  padding-right: var(--2xs-spacing);
}

.sp-padding-3xs-xaxis {
  padding-left: var(--3xs-spacing);
  padding-right: var(--3xs-spacing);
}

.sp-padding-xl-yaxis {
  padding-top: var(--xl-spacing);
  padding-bottom: var(--xl-spacing);
}

.sp-padding-3xl-yaxis {
  padding-top: var(--3xl-spacing);
  padding-bottom: var(--3xl-spacing);
}

.sp-padding-2xl-yaxis {
  padding-top: var(--2xl-spacing);
  padding-bottom: var(--2xl-spacing);
}

.sp-padding-l-yaxis {
  padding-top: var(--l-spacing);
  padding-bottom: var(--l-spacing);
}

.sp-padding-m-yaxis {
  padding-top: var(--m-spacing);
  padding-bottom: var(--m-spacing);
}

.sp-padding-s-yaxis {
  padding-top: var(--s-spacing);
  padding-bottom: var(--s-spacing);
}

.sp-padding-xs-yaxis {
  padding-top: var(--xs-spacing);
  padding-bottom: var(--xs-spacing);
}

.sp-padding-2xs-yaxis {
  padding-top: var(--2xs-spacing);
  padding-bottom: var(--2xs-spacing);
}

.sp-padding-3xs-yaxis {
  padding-top: var(--3xs-spacing);
  padding-bottom: var(--3xs-spacing);
}

.sp-margin-3xl {
  margin: var(--3xl-spacing);
}

.sp-margin-2xl {
  margin: var(--2xl-spacing);
}

.sp-margin-xl {
  margin: var(--xl-spacing);
}

.sp-margin-l {
  margin: var(--l-spacing);
}

.sp-margin-m {
  margin: var(--m-spacing);
}

.sp-margin-s {
  margin: var(--s-spacing);
}

.sp-margin-xs {
  margin: var(--xs-spacing);
}

.sp-margin-2xs {
  margin: var(--2xs-spacing);
}

.sp-margin-3xs {
  margin: var(--3xs-spacing);
}

.sp-margin-xl-top {
  margin-top: var(--xl-spacing);
}

.sp-margin-l-top {
  margin-top: var(--l-spacing);
}

.sp-margin-m-top {
  margin-top: var(--m-spacing);
}

.sp-margin-s-top {
  margin-top: var(--s-spacing);
}

.sp-margin-xs-top {
  margin-top: var(--xs-spacing);
}

.sp-margin-2xs-top {
  margin-top: var(--2xs-spacing);
}

.sp-margin-3xs-top {
  margin-top: var(--3xs-spacing);
}

.sp-margin-3xl-bottom {
  margin-bottom: var(--3xl-spacing);
}

.sp-margin-2xl-bottom {
  margin-bottom: var(--2xl-spacing);
}

.sp-margin-xl-bottom {
  margin-bottom: var(--xl-spacing);
}

.sp-margin-l-bottom {
  margin-bottom: var(--l-spacing);
}

.sp-margin-m-bottom {
  margin-bottom: var(--m-spacing);
}

.sp-margin-s-bottom {
  margin-bottom: var(--s-spacing);
}

.sp-margin-xs-bottom {
  margin-bottom: var(--xs-spacing);
}

.sp-margin-2xs-bottom {
  margin-bottom: var(--2xs-spacing);
}

.sp-margin-3xs-bottom {
  margin-bottom: var(--3xs-spacing);
}

.sp-margin-3xl-left {
  margin-left: var(--3xl-spacing);
}

.sp-margin-2xl-left {
  margin-left: var(--2xl-spacing);
}

.sp-margin-xl-left {
  margin-left: var(--xl-spacing);
}

.sp-margin-l-left {
  margin-left: var(--l-spacing);
}

.sp-margin-m-left {
  margin-left: var(--m-spacing);
}

.sp-margin-s-left {
  margin-left: var(--s-spacing);
}

.sp-margin-xs-left {
  margin-left: var(--xs-spacing);
}

.sp-margin-2xs-left {
  margin-left: var(--2xs-spacing);
}

.sp-margin-3xs-left {
  margin-left: var(--3xs-spacing);
}

.sp-margin-3xl-right {
  margin-right: var(--3xl-spacing);
}

.sp-margin-2xl-right {
  margin-right: var(--2xl-spacing);
}

.sp-margin-xl-right {
  margin-right: var(--xl-spacing);
}

.sp-margin-l-right {
  margin-right: var(--l-spacing);
}

.sp-margin-m-right {
  margin-right: var(--m-spacing);
}

.sp-margin-s-right {
  margin-right: var(--s-spacing);
}

.sp-margin-xs-right {
  margin-right: var(--xs-spacing);
}

.sp-margin-2xs-right {
  margin-right: var(--2xs-spacing);
}

.sp-margin-3xs-right {
  margin-right: var(--3xs-spacing);
}

.sp-margin-3xl-xaxis {
  margin-left: var(--3xl-spacing);
  margin-right: var(--3xl-spacing);
}

.sp-margin-2xl-xaxis {
  margin-left: var(--2xl-spacing);
  margin-right: var(--2xl-spacing);
}

.sp-margin-xl-xaxis {
  margin-left: var(--xl-spacing);
  margin-right: var(--xl-spacing);
}

.sp-margin-l-xaxis {
  margin-left: var(--l-spacing);
  margin-right: var(--l-spacing);
}

.sp-margin-m-xaxis {
  margin-left: var(--m-spacing);
  margin-right: var(--m-spacing);
}

.sp-margin-s-xaxis {
  margin-left: var(--s-spacing);
  margin-right: var(--s-spacing);
}

.sp-margin-xs-xaxis {
  margin-left: var(--xs-spacing);
  margin-right: var(--xs-spacing);
}

.sp-margin-2xs-xaxis {
  margin-left: var(--2xs-spacing);
  margin-right: var(--2xs-spacing);
}

.sp-margin-3xs-xaxis {
  margin-left: var(--3xs-spacing);
  margin-right: var(--3xs-spacing);
}

.sp-margin-3xl-yaxis {
  margin-top: var(--3xl-spacing);
  margin-bottom: var(--3xl-spacing);
}

.sp-margin-2xl-yaxis {
  margin-top: var(--2xl-spacing);
  margin-bottom: var(--2xl-spacing);
}

.sp-margin-xl-yaxis {
  margin-top: var(--xl-spacing);
  margin-bottom: var(--xl-spacing);
}

.sp-margin-l-yaxis {
  margin-top: var(--l-spacing);
  margin-bottom: var(--l-spacing);
}

.sp-margin-m-yaxis {
  margin-top: var(--m-spacing);
  margin-bottom: var(--m-spacing);
}

.sp-margin-s-yaxis {
  margin-top: var(--s-spacing);
  margin-bottom: var(--s-spacing);
}

.sp-margin-xs-yaxis {
  margin-top: var(--xs-spacing);
  margin-bottom: var(--xs-spacing);
}

.sp-margin-2xs-yaxis {
  margin-top: var(--2xs-spacing);
  margin-bottom: var(--2xs-spacing);
}

.sp-margin-3xs-yaxis {
  margin-top: var(--3xs-spacing);
  margin-bottom: var(--3xs-spacing);
}

.sp-group-margin-xs-xaxis > *:not(:last-child) {
  margin-right: var(--xs-spacing);
}

.sp-group-margin-2xs-xaxis > *:not(:last-child) {
  margin-right: var(--2xs-spacing);
}

.sp-group-margin-3xs-xaxis > *:not(:last-child) {
  margin-right: var(--3xs-spacing);
}

.sp-group-margin-s-xaxis > *:not(:last-child) {
  margin-right: var(--s-spacing);
}

.sp-group-margin-m-xaxis > *:not(:last-child) {
  margin-right: var(--m-spacing);
}

.sp-group-margin-3xl-xaxis > *:not(:last-child) {
  margin-right: var(--3xl-spacing);
}

.sp-group-margin-2xl-xaxis > *:not(:last-child) {
  margin-right: var(--2xl-spacing);
}

.sp-group-margin-xl-xaxis > *:not(:last-child) {
  margin-right: var(--xl-spacing);
}

.sp-group-margin-l-xaxis > *:not(:last-child) {
  margin-right: var(--l-spacing);
}

.sp-group-margin-xs-yaxis > *:not(:last-child) {
  margin-bottom: var(--xs-spacing);
}

.sp-group-margin-2xs-yaxis > *:not(:last-child) {
  margin-bottom: var(--2xs-spacing);
}

.sp-group-margin-3xs-yaxis > *:not(:last-child) {
  margin-bottom: var(--3xs-spacing);
}

.sp-group-margin-s-yaxis > *:not(:last-child) {
  margin-bottom: var(--s-spacing);
}

.sp-group-margin-m-yaxis > *:not(:last-child) {
  margin-bottom: var(--m-spacing);
}

.sp-group-margin-l-yaxis > *:not(:last-child) {
  margin-bottom: var(--l-spacing);
}

.sp-group-margin-xl-yaxis > *:not(:last-child) {
  margin-bottom: var(--xl-spacing);
}

.sp-group-margin-2xl-yaxis > *:not(:last-child) {
  margin-bottom: var(--2xl-spacing);
}

.sp-group-margin-3xl-yaxis > *:not(:last-child) {
  margin-bottom: var(--3xl-spacing);
}
