:root {
                            --color-primary: #39546A;
                            --color-primary-g1: #4B7293;
                            --color-accent: #149CB5;
                            --color-accent-g1: #ABD7E0;
                            --color-accent-g2: #D7E8ED;
                            --color-accent-g3: #EBF1F3;
                            --color-accessory: #7E94A4;
                            --color-accessory-light: #C1D4DB;
                            --color-success: #8AAD6A;
                            --color-success-light: #BFDD9A;
                            --color-danger: #BB231E;
                            --color-danger-light: #F1C0BF;
                            --color-warning: #EEBB3C;
                            --color-warning-light: #FFE7AB;
                            --color-alert: #DF8D3B;
                            --color-alert-light: #FAD6AA;
                            --color-validation-error: #CE0000;
                            --color-validation-error-light: #FCDDDE;
                            --color-validation-info: #0065b7;
                            --color-validation-info-light: #D8F2FA;
                            --color-validation-success: #007023;
                            --color-validation-success-light: #DBF1E3;
                            --color-validation-warning: #F7CE00;
                            --color-validation-warning-light: #FAECAC;
                            --color-status-info: #61b9ff;
                            --color-status-warning: #ffad26;
                            --color-status-error: #ff9090;
                            --color-black: #000000;
                            --color-mineshaft: #393939;
                            --color-dovegray: #6A6A6A;
                            --color-concrete: #979797;
                            --color-titanium: #B3B3B3;
                            --color-silver: #BEBEBE;
                            --color-alto: #D6D6D6;
                            --color-seashell: #E1E1E1;
                            --color-cirrus: #EFEFEF;
                            --color-alabaster: #F8F8F8;
                            --color-white: #FFFFFF;
                            --color-divider: var(--color-alto);
                            --color-text-primary: var(--color-primary);
                            --color-text-secondary: var(--color-black);
                            --color-text-accent: var(--color-accent);
                            --color-text-caption: #747474;
                            --color-text-link: #478CC8;
                            --color-text-on-dark: #FFFFFF;
                            --color-github-history-add: #eaffea;
                            --color-github-history-remove: #ffecec;
                            --heading-font-weight: 600;
                            --heading-1-font-size: 22px;
                            --heading-1-line-height: 28px;
                            --heading-2-font-size: 18px;
                            --heading-2-line-height: 23px;
                            --heading-3-font-size: 16px;
                            --heading-3-line-height: 20px;
                            --heading-4-font-size: 14px;
                            --heading-4-line-height: 18px;
                            --heading-5-font-size: 13px;
                            --heading-5-line-height: 17px;
                            --heading-6-font-size: 12px;
                            --heading-6-line-height: 15px;
                            --heading-7-font-size: 10px;
                            --heading-7-line-height: 13px;
                            --body-font-weight: 400;
                            --heading-bold-font-weight: 600;
                            --body-bold-font-weight: 700;
                            --display-start-font-size: 22px;
                            --button-default-background-color: white;
                            --button-sm-font-size: 12px;
                            --button-md-font-size: 14px;
                            --button-solid-padding: 6px 14px;
                            --button-hollow-padding: 6px 14px;
                            --button-border-radius: 3px;
                            --button-letter-spacing: 0.04em;
                            --button-font-family: 'Source Sans Pro', sans-serif;
                            --button-primary-hover-bg: #1d8499;
                            --button-passive-hover-bg: #e6e6e6;
                            --base-spinner-timing: 2s;
                            --layer-critical: 10000;
                            --layer-high: 9000;
                            --layer-medium: 8000;
                            --layer-low: 7000;
                            --layer-backdrop: 6000;
                            --pill-border-radius: 20px;
                            --pill-small-font-size: 12px;
                            --pill-large-font-size: 14px;
                            --pill-xs-spacing: 3px;
                            --pill-s-spacing: 8px;
                            --pill-l-spacing: 12px;
                            --xl-spacing: 24px;
                            --l-spacing: 16px;
                            --m-spacing: 12px;
                            --s-spacing: 8px;
                            --xs-spacing: 4px;
                            --is-phone: false;
                            --is-tablet: false;
                            --is-desktop: false;
                            --is-phone: true;
                            --is-tablet: true;
                            --is-desktop: true;
            }